@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@1,200&display=swap");

.loading {
  background-color: #000000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading img {
  height: 150px;
  width: 150px;
  position: absolute;
}

.loadingTrue {
  animation: loadingTrue ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes loadingTrue {
  0% {
    transform: rotate(0deg);
  }

  40% {
    transform: rotate(-35deg);
    opacity: 1;
  }

  60% {
    transform: rotate(365deg);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.loadingFalse {
  animation: loadingFalse ease-out 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes loadingFalse {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }

  40% {
    transform: rotate(-35deg);
    opacity: 0;
  }

  70% {
    transform: rotate(400deg);
    opacity: 1;
  }

  100% {
    transform: rotate(360deg);
  }
}

.full-page {
  height: 100vh;
  animation: colorOpen ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes colorOpen {
  0% {
    background-color: #000000;
  }
  100% {
    background-color: #fff;
  }
}

.main {
  position: relative;
  top: 5vh;
  height: calc(100vh - 5vh);
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.main::-webkit-scrollbar {
  width: 8px;
}

.main::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey;
  border-radius: 10px;
}

.main::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: #272727;
  border: 1px solid #fff;
  border-radius: 10px;
}

.main::-webkit-scrollbar-thumb:hover {
  background-color: #74025b;
}

section {
  height: calc(100vh - 5vh);
  scroll-snap-align: start;
}

section > h1 {
  margin-top: 0.3rem;
  padding: 1rem 0;
  color: #fff;
  display: flex;
  align-items: center;
  width: 90%;
  font-family: "Prompt", sans-serif;
  font-weight: normal;
  letter-spacing: 3px;
  font-size: larger;
  font-style: italic;
  animation: navfade ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes navfade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

section > h1 > hr {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    width: 0%;
  }
  100% {
    opacity: 1;
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .main {
    top: 0;
    height: 100vh;
  }

  section {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  section > h1 {
    font-size: medium;
    order: 1;
  }

  section > h1 > hr {
    width: 50%;
  }

  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
      width: 0%;
    }
    100% {
      opacity: 1;
      width: 60%;
    }
  }
}

@media screen and (max-width: 320px) {
  .about-img {
    max-height: 170px;
    max-width: 100px;
  }
}

@media screen and (max-height: 568px) {
  section > h1 {
    font-size: 92%;
  }
}
