#experiences {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#experiences > h1 {
  color: #410033;
  font-weight: 800;
}

#experiences > h1 > hr {
  border-top: 2px solid #74025b;
}

.experiences-container {
  padding: 3rem;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-experience {
  display: flex;
  justify-content: space-between;
}

.sub-experience > .works {
  min-width: 400px;
  background-image: linear-gradient(to bottom, #74025b, #272727 90%);
  border: 2px solid #74025b;
  border-radius: 3px;
  margin: 1rem;
}

.sub-experience > .works > h2 {
  background-color: #272727;
  color: #fff;
  font-size: x-large;
  font-weight: 500;
  text-align: center;
  padding: 0.5rem;
  border-radius: 3px 3px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-experience > .works > h2 > svg {
  margin-right: 0.5rem;
}

.work-list {
  padding: 0.5rem;
  color: #fff;
}

.work-list > h4 {
  margin: 1.5rem 0 0.2rem 0;
  letter-spacing: 2px;
}

.work-list > p {
  background-color: #ffffff1f;
  padding: 0.5rem;
}

@media screen and (max-width: 1024px) {
  .experiences-container {
    justify-content: flex-start;
    overflow-x: scroll;
  }
}

@media screen and (max-width: 425px) {
  .experiences-container {
    padding: 1rem;
    font-size: 80%;
  }

  .sub-experience > .works {
    margin: 0.5rem;
  }
}
