#interests {
  display: flex;
  flex-direction: column;
  background-color: #410033;
}

.interests-container {
  padding: 3rem;
  height: 95%;
  overflow: scroll;
}

.interests-container > h4 {
  font-size: medium;
  font-weight: 500;
  color: #fff;
  letter-spacing: 3px;
  padding: 0.5rem;
  border-radius: 2px;
  margin-bottom: 1rem;
  background-color: #ffffff1f;
}

.hobbies {
  height: 200px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.hobbies > .hobby-img {
  height: 80px;
  width: 80px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  box-shadow: 1px 2px 8px 1px #414141b9;
}

.hobbies > .hobby-img > svg {
  color: #fff;
  font-size: 2.5rem;
  animation: skillIn ease-out 1s;
}

.hobbies > .hobby-img > img {
  width: 110%;
}

.hobbies > p {
  color: #fff;
  font-size: medium;
  text-align: center;
  letter-spacing: 2px;
}

.grid-container,
.achGrid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
  grid-gap: 2rem;
}

.achGrid-container a {
  padding: 1rem;
  background-color: #ffffff1f;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
}

.achGrid-container a:hover {
  background-color: #74025b8a;
}

.achievement-img {
  max-height: 200px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 1rem;
  mask-image: linear-gradient(to bottom, #000000 20%, transparent 100%);
}

.achievement-img > img {
  width: 100%;
}

.achGrid-container a h4 {
  letter-spacing: 2px;
}

.achGrid-container a p {
  font-size: small;
}

.interests-container::-webkit-scrollbar {
  width: 0;
}

@media screen and (max-width: 1024px) {
  .hobbies > .hobby-img {
    height: 60px;
    width: 60px;
  }

  .hobbies > .hobby-img > svg {
    font-size: 150%;
  }
}

@media screen and (max-width: 425px) {
  .interests-container {
    padding: 2rem;
  }

  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  .hobbies > p {
    font-size: 80%;
  }

  .achGrid-container a h4 {
    font-size: 70%;
    font-weight: 600;
  }

  .achGrid-container a p {
    font-size: 70%;
  }
}

@media screen and (max-width: 768px) {
  .interests-container {
    order: 2;
    height: 80vh;
  }
}

@media screen and (max-height: 568px) {
  .interests-container {
    height: 92%;
  }
}
