.menu {
  display: none;
}

.navbar > ul {
  height: 5vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  list-style: none;
  padding: 10px;
  position: fixed;
  z-index: 2;
  background-color: #272727;
  animation: fadeIn ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    left: 150rem;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

.navbar > ul > li {
  padding: 0.5rem 0.4rem;
  transition: 0.5s ease;
}

.navbar > ul > li:hover {
  background-color: #74025b;
  border-radius: 2px;
}

.navbar > ul > li > a {
  font-size: small;
  text-decoration: none;
  color: #fff;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}

.navbar > ul > li > a > svg {
  margin-right: 0.5rem;
}

.resume {
  border: 2px solid #74025b;
  border-radius: 2px;
}

.navbar > ul > .resume > a {
  color: #a38605;
  font-weight: bold;
  letter-spacing: 3px;
}

@media screen and (max-width: 768px) {
  .menu {
    display: block;
    position: absolute;
    right: 1rem;
    top: 1rem;
    color: #74025b;
    font-size: xx-large;
    cursor: pointer;
    z-index: 99;
    background-color: #ffffffef;
    border: 2px solid #74025b;
    border-radius: 3px;
    height: 40px;
    width: 40px;
    box-shadow: 1px 1px 5px 0px #00000079;
    animation: menuFade ease 0.5s;
    animation-fill-mode: forwards;
  }

  @keyframes menuFade {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  .navbar > ul {
    position: absolute;
    z-index: 10;
    gap: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
    animation: none;
  }

  .navbar > ul > li {
    padding: 1rem 0.5rem;
    width: 100%;
    background-color: #ffffff17;
    border-radius: 3px;
  }

  .navbar > ul > li:hover {
    color: #2c394b;
  }

  .open {
    opacity: 1;
    left: 0;
    transition: 0.4s ease-in-out;
  }

  .close {
    opacity: 0;
    left: -100rem;
    transition: 0.5s ease-in-out;
  }
}
