#projects {
  display: flex;
  flex-direction: column;
  background-color: #410033;
}

.projects-container {
  padding: 3rem;
  height: 95%;
  display: flex;
  direction: rtl;
  overflow-y: scroll;
}

.projects-container::-webkit-scrollbar {
  width: 4px;
}

.projects-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 10px;
}

.projects-container::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: #74025b;
  border: 1px solid grey;
  border-radius: 10px;
}

.projects-container::-webkit-scrollbar-thumb:hover {
  background-color: #fff;
}

.list-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  direction: ltr;
}

.hub > p {
  font-size: medium;
  font-weight: bold;
  color: #74025b;
  margin-bottom: 0.5rem;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 2px;
  letter-spacing: 1px;
}

.project-img {
  height: 200px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 0;
  border-radius: 2px;
  position: relative;
}

.project-img > img {
  cursor: pointer;
  width: 100%;
  mask-image: linear-gradient(to bottom, #000000 20%, transparent 100%);
  transition: 0.25s ease;
}

.project-img > img:hover {
  filter: blur(5px) brightness(0.5);
}

.project-img > .links {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 8;
}

.project-img > .links > a {
  color: #fff;
  text-decoration: none;
  position: relative;
}

.project-img > .links > a > span {
  pointer-events: none;
  visibility: hidden;
  position: absolute;
  left: -3rem;
  color: #1f1f1f;
  font-size: small;
  font-weight: bolder;
  letter-spacing: 1px;
  text-align: center;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  background-color: #ebebebf3;
  z-index: 1;
}

.project-img > .links > a:hover span {
  visibility: visible;
}

.project-img > .links > a > svg {
  font-size: 1.8rem;
  margin: 0.5rem;
  transition: 0.25s ease-in-out;
}

.project-img > .links > a > svg:hover {
  margin-bottom: 1rem;
}

.client:hover {
  color: #d8b953;
}

.server:hover {
  color: #90f37c;
}

.host {
  position: absolute;
  text-decoration: none;
  font-size: x-large;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease;
}

.host > svg,
.host > span {
  opacity: 0;
  transition: 0.2s ease;
}

.host:hover {
  color: #5c93fa;
  backdrop-filter: blur(3px) brightness(0.4);
}

.host:hover svg,
.host:hover span {
  opacity: 1;
  font-weight: 500;
  color: #fff;
  letter-spacing: 3px;
}

.tools > svg {
  color: #c575b4;
  font-size: 1.5rem;
  margin-right: 1rem;
}

@media screen and (max-width: 768px) {
  .projects-container {
    order: 2;
    height: 80vh;
  }
}

@media screen and (max-width: 425px) {
  .projects-container {
    padding: 1.5rem;
  }

  .list-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2rem;
  }
}
