#skills {
  display: flex;
  flex-direction: column;
}

#skills > h1 {
  color: #410033;
  font-weight: 800;
}

#skills > h1 > hr {
  border-top: 2px solid #74025b;
}

.skills-container {
  padding: 3rem;
  height: 95%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem;
  z-index: 1;
}

.programs {
  height: 200px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #272727;
  border: 2px solid #74025b;
  box-shadow: 1px 2px 8px 1px #414141b9;
}

.programs > .logo-img {
  height: 80px;
  width: 80px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  box-shadow: 1px 2px 8px 1px #414141b9;
}

.programs > .logo-img > svg {
  color: #74025b;
  font-size: 2.5rem;
  animation: skillIn ease-out 1s;
}

@keyframes skillIn {
  0% {
    transform: rotate(-35deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.programs > .logo-img > img {
  width: 110%;
}

.programs > p {
  color: #fff;
  font-size: medium;
  text-align: center;
  letter-spacing: 2px;
}

@media screen and (max-width: 1024px) {
  .skills-container {
    padding: 1rem;
    grid-gap: 1rem;
    overflow: scroll;
  }

  .programs > .logo-img {
    height: 60px;
    width: 60px;
  }

  .programs > .logo-img > svg {
    font-size: 150%;
  }
}

@media screen and (max-width: 768px) {
  .skills-container {
    order: 2;
    height: 80vh;
  }
}

@media screen and (max-width: 425px) {
  .skills-container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  .programs {
    height: 150px;
  }

  .programs > p {
    font-size: 70%;
  }
}

@media screen and (max-height: 568px) {
  .skills-container {
    height: 92%;
  }
}
